

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html{
    font-size:100%;
}

body{
    font-family:Lora, serif;
    font-size:18px;
    font-weight:400;
    line-height:1.4;
    text-rendering:optimizeLegibility;
}



h1
{
    color:rgba(0,0,0,.75);
}

.wrapper
{
    height:100%;
}

.left
{
    background-color:palevioletred;
    float:right;
    height:100%;
    margin-left:-1px;
    min-width:256px;
    position:fixed;
    width:33.33%;

}

.right
{
    background: #EAE0D5;
    float:right;
    height:100%;
    position:relative;
    width:66.66%;
    margin-right:-1px;
}




.name-hero{
    bottom:0;
    height: 550px;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:0;
    width:85%;
}

/*tämä logo on linked ja github*/
.Logo  {
    position: relative;
    text-align:center;

}

a:visited {
    color: black;
}

a:link {
    color: black;
}

i:hover {
    color: pink;
}

/*loppuu*/

/* tämä on omakuva*/
.me-img{
    height:150px;
    margin:0 auto;
    position:relative;
    width:150px;
}

.me-img img{
    border-radius:100%;
}
/* loppuu */

/* tämä korjaa vasemanpuolen tekstejä */
.name-hero h1
{
    font-family:Open Sans, sans-serif;
    font-size:1.5em;
    text-align:center;
}

.name-hero h1 em
{
    color:rgba(0,0,0,.3);
    font-style:normal;
    font-weight:700;
}

.name-hero p
{
    color:rgba(0,0,0,.75);
    font-size:.85em;
    line-height:1.5;
    margin:0 8px 0 0;
    text-align:center;
}

.name-hero .name-text
{
    margin:0 auto;
    width:85%;
}
/* se loppuu tähän*/




/* Tämä on oikean puolen kaikki teksti css*/
.inner
{
    margin:0 auto;
    max-width:975px;
    padding:3em;
}

.inner h1
{
    font-size:1.75em;
}

.inner p
{
    color:rgba(0,0,0,.5);
}

.inner p em
{
    color:rgba(0,0,0,1);
    font-style:normal;
}

.inner section
{
    margin:100px auto;
}

.inner li{
    list-style: none;
    color:rgba(0,0,0,.5);
}
/* se loppuu tähän*/




/* tämä on skill juttu*/
* {box-sizing: border-box}

.container {
    width: 100%;
    background-color: #F1EBE4;
}

.skills {
    text-align: right;
    padding-bottom: 10px;
    color: rgba(0,0,0,.75);
}

.html {
    width: 55%;
    background-color: #fb6f92;
    height: 25px;
}
.css {
    width: 75%;
    background-color: #ff8fab;
    height: 25px;
}

.js {
    width: 3%;
    background-color: #ffb3c6;
    height: 25px;
}

.bootstrap {
    width: 3%;
    background-color: #ffb3c6;
    height: 25px;
}
/*loppuuuu*/
